# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Xcode user-specific scheme management
**/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.swiftpm/
.build/

# Accessibility / misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
